@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    font-size: 0.875em;
    line-height: 1.6em;
}
nav {
    background-color: #329209;
    height: 175px;
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 18px;
    background-position: center center;
}
header nav {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}
header nav a {
    color: black;
    text-decoration: none;
}
header nav a:hover {
    text-decoration: underline;
}
.line { 
    border-left: 2px solid #02091A;
    margin-left: 20px;
    padding-left: 10px;
}
#title {
    background-color: #329209;
    height: 175px;
    margin: 0;
    padding: 0;
    background-position: center center;
    color: white;
    text-align: center;
    top: 80%;
    left: 50%;
}
h2 {
    padding-top: 15px;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    text-align: center;
    max-width: 100%
}
h3 {
    margin: 0;
    font-size: 30px;
    padding-top: 15px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}
#cover {
    background-image: url("../img/icelandcover.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
#cover h1 {
    padding-top: 120px;
    text-align: center;
    color: white;
    font-size: 144px;
}
#date {
    min-width: 10%;
    text-align: center;
    color: white;
    font-size: 48px;
}
#people {
   min-width: 10%;
    text-align: center;
    color: white;
    font-size: 36px;
    padding-bottom: 300px;
}
#button {
    padding-bottom: 75px;
}
.mybutton {
	-moz-box-shadow:inset 0px 0px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 0px 0px 0px #caefab;
	box-shadow:inset 0px 0px 0px 0px #caefab;
	background-color:#77d42a;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:2px solid #329209;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Verdana;
	font-size:21px;
	font-weight:bold;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:0px 0px 0px #aade7c;
	text-align: center center;
}
.myButton:hover {
	background-color: red;
}
.myButton:active {
	position:relative;
	top:1px;
}
.describe {
    width: 100%;
    height: 350px;
    border-bottom: 2px solid #329209;
    margin-left: 20px;
    padding-left: 10px;
}
span {
    font-size: 24px;
    font-family: Helvetica, sans-serif;
}
.shortinfo {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}
.places {
    padding-top: 55px;
    text-align: center;
    height: 200px;
    width: 100%;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
}
.nature {
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}
#hotspring {
  background: url("../img/hotspring.jpg") no-repeat center top;
  height: 250px;
  width: 400px;
  margin: 0 auto;
}
.onpictures {
  opacity: 0;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  line-height: 250px;
  text-align: center;
  color: white;
  transition: .5s ease;
  margin: 0;
}

div:hover .onpictures {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
#glacier {
  background: url("../img/glacier.jpg") no-repeat center top;
  height: 250px;
  width: 400px;
  margin: 0 auto;
}
#waterfall {
  background: url("../img/waterfall.jpg") no-repeat center top;
  height: 250px;
  width: 400px;
  margin: 0 auto;
}
#geyser {
  background: url("../img/geyser.jpg") no-repeat center top;
  height: 250px;
  width: 400px;
  margin: 0 auto;
}
#nature {
  background: url("../img/nature.jpg") no-repeat center top;
  height: 250px;
  width: 400px;
  margin: 0 auto;
}
#town {
  background: url("../img/town.jpg") no-repeat center top;
  height: 250px;
  width: 400px;
  margin: 0 auto;
}
#price {
    width: 100%;
    border-bottom: 2px solid #329209;
}
main {
    width: 100%;
}
.euro {
    font-size: 36px;
    font-style: inherit;
}
#photoreport {
    background-color: #329209;
    height: 175px;
    margin-top: 20px;
    padding: 0;
    background-position: center center;
    color: white;
    text-align: center;
    top: 80%;
}
#previoustrip {
    padding-top: 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    text-align: center;
}
#infographic {
    display: flex;
    text-align: center;
    padding-top: 25px;
    margin-top: 25px;
    border-bottom: 2px solid #329209;
    padding-bottom: 25px;
}
.info {
    width: 25%;
}
#price {
    display: flex;
    text-align: left;
    border-bottom: 2px solid #329209;
    padding-bottom: 120px;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}
h5 {
    margin-bottom: 15px;
}
#infographrow {
  display: flex;
  flex-direction: column;
}
#infographrow img {
float: left;
padding-right: 15px;
}
.euro {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}
.price {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
li span {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
}
#infographrow, #additionrow {
    width:30%;
}
#centralrow {
    width:40%;
}
#tourprogram {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.firstdayimg {
    background: url("../img/bluelagoon.jpg") no-repeat center top;
}
.thirddayimg {
    background: url("../img/whalewatching.jpg") no-repeat center top;
}
.fifthdayimg {
    background: url("../img/blackbeach.jpg") no-repeat center top;
}
.seventhdayimg {
    background: url("../img/hotgeyser.jpg") no-repeat center top;
}
#fifthsixth {
    padding-left: 30px;
}
#googlemap{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 800px;
    width: 1200px;
}
#googlemap iframe{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
#contactform {
    background: url("../img/contacts_cover.jpg") no-repeat center top;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}
form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}
input {
    width: 474px;
    height: 42px;
}
#details {
    font-family: 'Helvetica', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: white;
    padding-top: 46px;
}
input {
    margin-top: 44px;
}
label {
    font-family: 'Helvetica', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding-top: 46px;
    padding-bottom: 40px;
}
.btn {
    margin-bottom: 116px;
}